<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing</title>
</head>

<body>
    <%- include('../partials/_navbar') %>

        <h1>Edit <%= flower.commonName %>
        </h1>
        <form action="/users/<%= user._id %>/flowers/<%= flower._id %>?_method=PUT" method="POST">
            <label for="name">Common Name:</label>
            <input type="text" name="commonName" id="commonName" value="<%= flower.commonName %>" />
            <label for="name">Scientific Name:</label>
            <input type="text" name="scientificName" id="scientificName" value="<%= flower.scientificName %>" />
            <label for="name">Date Found:</label>
            <input type="date" name="dateFound" id="dateFound" value="<%= flower.dateFound.toISOString().slice(0, 10) %>" />
            <label for="name">Location:</label>
            <input type="text" name="location" id="location" value="<%= flower.location %>" />
            <label for="name">Field Notes:</label>
            <input type="text" name="fieldNotes" id="fieldNotes" value="<%= flower.fieldNotes %>" />
            <label for="name">Photo:</label>
            <input type="text" name="photo" id="photo" value="<%= flower.photo %>" />


            <button type="submit">Edit Flower</button>
        </form>


</body>

</html>