<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= item.commonName %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <div id="flower-info">
        <h1>
            <%= item.commonName %>
        </h1>
        <p>Scientific Name:
            <%= item.scientificName %>
        </p>
        <p>Date Found:
            <%= item.dateFound.toString().slice(0, 15) %>
        </p>
        <p>Location:
            <%= item.location %>
        </p>
        <p>Field Notes:
            <%= item.fieldNotes %>
        </p>
    </div>
    <div id="flower-photo">
        <p>Photo:
            <%= item.photo %>
        </p>
    </div>
    <div id="flower-actions">
        <form action="/users/<%= member._id %>/flowers/<%= item._id %>/like" method="POST">
            <button type="submit">
                <%= item.likes.includes(user._id) ? "unlike" : "like" %>
            </button>
        </form>
        <span id="like-count">
            <%= item.likes.length %>
        </span> likes

        <form action="/users/<%= member._id %>/flowers/<%= item._id %>/comment" method="POST">
            text: <input id="text" name="text" />
            <button type="submit">Add Comment</button>
        </form>
        <span id="comment-count">
            <%= item.commentBox.length %>
        </span> comments
        <% comments.forEach(comment=> { %>
            <div id="comment-text">
                <p>
                    <%= comment.user.username %> Says:
                </p>
                <p>
                    <%= comment.text %>
                </p>
                <% if (comment.user._id==user._id) { %>
                    <form
                        action="/users/<%= member._id %>/flowers/<%= item._id %>/comment/<%= comment._id %>?_method=DELETE"
                        method="POST">
                        <button type="submit">Delete Comment</button>
                    </form>
                    <% } %>
            </div>
            <% }) %>

                <% if (user._id==member._id) { %>
                    <form action="/users/<%= user._id %>/flowers/<%= item._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete Flower</button>
                    </form>
                    <a href="/users/<%= user._id %>/flowers/<%= item._id %>/edit">
                        <button>Edit Flower</button>
                    </a>
                    <% } %>
    </div>



</body>

</html>