<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= member.username %>'s Flower Bed</title>
</head>

<%- include('../partials/_navbar') %>

<body class="member-body">
    <div id="index-container">
        <h1 class="member-page-header">
                <%= member.username %>'s Flower Bed
            </h1>
        <div id="members-flower-links">
            <% member.flowerBed.forEach(item=> { %>
                <a class="member-flower-link-text" href="/users/<%= member._id %>/flowers/<%= item._id %>">
                    <%= item.commonName %>
                </a>
            <% }) %>
        </div>
    </div>

</body>

</html>